doctype html

title #{title} integration
link(rel="stylesheet", href="/integration/stylesheets/chhaang.css")

h1 #{title} integration interface operational

h2 Subsystems:
ul
  li(class=DrPublish ? "enabled" : "disabled")
    a(href="drpublish/index") DrPublish
  li(class=Feide ? "enabled" : "disabled")
    a(href="feide/") Feide
  li(class=OpenIDEnabled ? "enabled" : "disabled")
    a(href="open-id/") OpenID

.effects
  .badscreen
  .scanline
    .scanline-wobble
